version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: ifplay_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: IFPlay_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./utils/IFPlay_db.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - ifplay_network
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-padmin",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
    driver: local

networks:
  ifplay_network:
    driver: bridge
